<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>User Login</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>

      <form name="user">
        <md-content layout-gt-sm="row" layout-padding>
          <div>
            <md-input-container>
              <label>Username</label>
              <input ng-model="username">
            </md-input-container>
        
            <md-input-container>
              <label>Password</label>
              <input ng-model="password" type="password">
            </md-input-container>
          </div>
        </md-content>
        <!-- https://docs.angularjs.org/guide/forms -->
        <!-- <div ng-hide="isLogin" class="col-md-2">
          <input name="username_" type="text" ng-maxlength="255" ng-model="username" />
        </div>
        <div ng-hide="isLogin" class="col-md-2">
          <input name="password" type="password" ng-model="password" />
        </div>
        <div ng-hide="isLogin" class="col-md-2">
          <button ng-click="login()">login</button>
        </div>
        <div ng-show="isLogin" class="col-md-4"></div>
        <div ng-hide="user.username_.$valid" class="col-md-4">username is too long</div>
        <div ng-show="loginFailed" class="col-md-2">password doesn't match username</div>
        <div ng-hide="loginFailed" class="col-md-2">
          <p>{{displayName}}</p>
        </div>
        <div ng-show="isLogin" class="col-md-2">
          <button ng-click="logout()">logout</button>
        </div> -->
      </form>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <!-- <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button> -->
      <span flex></span>
      <md-button ng-click="answer(username+' '+password)">
        Login now
      </md-button>
      <!-- <md-button ng-click="answer('useful')">
        Useful
      </md-button> -->
    </md-dialog-actions>
  </form>
</md-dialog>