<div class="col-xs-12">
    <form name="search">
        <!--
            https://www.cnblogs.com/rohelm/p/4033513.html
            https://docs.angularjs.org/api/ng/input/input%5Btext%5D
        -->
        <div class="col-md-2">
        <input name="search" type="search" ng-model="notify.search" />
        </div>
        <div class="col-md-10">
        <button ng-click="highlight()" >search</button>
        <!--<p ng-show="!(search.search.$dirty&&search.search.$valid)">Required</p>-->
        </div>
    </form>
<!-- </div>

<div class="input"> -->
    <div class="col-md-6">
        <textarea id="md" wrap="virtual" ng-model="newString" ng-change="refresh()" autofocus ng-style="style()" resize></textarea>
    </div>
    <div class="col-md-6">
        <p id="html" ng-bind-html="trustHtml" ng-style="style()" resize></p>
    </div>
    <!-- <div class="col-md-4" ng-style="style()" resize>
        window.windowHeight: {{windowHeight}} <br />
        window.windowWidth: {{windowWidth}}
    </div> -->
</div>