<div class="col-xs-12">
    <form name="search">
        <!--
            https://www.cnblogs.com/rohelm/p/4033513.html
            https://docs.angularjs.org/api/ng/input/input%5Btext%5D
        -->
        <div class="col-md-2">
            <input name="search" type="text" ng-model="notify.search" />
        </div>
        <div class="col-md-2">
            <button ng-click="highlight()">search</button>
        </div>
    </form>
    <form name="user">
        <!-- https://docs.angularjs.org/guide/forms -->
        <div ng-hide="isLogin" class="col-md-2">
            <input name="username_" type="text" ng-maxlength="255" ng-model="username" />
        </div>
        <div ng-hide="isLogin" class="col-md-2">
            <input name="password" type="password" ng-model="password" />
        </div>
        <div ng-hide="isLogin" class="col-md-2">
            <button ng-click="post()">login</button>
        </div>
        <div ng-show="isLogin" class="col-md-4"></div>
        <div ng-hide="user.username_.$valid" class="col-md-4">username is too long</div>
        <div ng-show="loginFailed" class="col-md-2">password doesn't match username</div>
        <div ng-hide="loginFailed" class="col-md-2">
            <p>{{displayName}}</p>
        </div>
        <div ng-show="isLogin" class="col-md-2">
            <button ng-click="logout()">logout</button>
        </div>
    </form>
    <div class="col-md-6">
        <textarea id="md" wrap="virtual" ng-model="newString" ng-change="refresh()" autofocus ng-style="style()" resize></textarea>
    </div>
    <div class="col-md-6">
        <p id="html" ng-bind-html="trustHtml" ng-style="style()" resize></p>
    </div>
</div>